In [6]:
import pandas as pd
import numpy as np
from tqdm import tqdm

In [7]:
data = pd.read_csv("Google-Playstore-Full.csv")
data.head(6)

,App Name,Category,Rating,Reviews,Installs,Size,Price,Content Rating,Last Updated,Minimum Version,Latest Version,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,DoorDash - Food Delivery,FOOD_AND_DRINK,4.548561573,305034,"5,000,000+",Varies with device,0,Everyone,"March 29, 2019",Varies with device,Varies with device,NaN,NaN,NaN,NaN
1,TripAdvisor Hotels Flights Restaurants Attract...,TRAVEL_AND_LOCAL,4.400671482,1.20792e+06,"100,000,000+",Varies with device,0,Everyone,"March 29, 2019",Varies with device,Varies with device,NaN,NaN,NaN,NaN
2,Peapod,SHOPPING,3.656329393,1967,"100,000+",1.4M,0,Everyone,"September 20, 2018",5.0 and up,2.2.0,NaN,NaN,NaN,NaN
3,foodpanda - Local Food Delivery,FOOD_AND_DRINK,4.107232571,389154,"10,000,000+",16M,0,Everyone,"March 22, 2019",4.2 and up,4.18.2,NaN,NaN,NaN,NaN
4,My CookBook Pro (Ad Free),FOOD_AND_DRINK,4.647752285,2291,"10,000+",Varies with device,$5.99,Everyone,"April 1, 2019",Varies with device,Varies with device,NaN,NaN,NaN,NaN
5,Safeway Online Shopping,FOOD_AND_DRINK,3.82532239,2559,"100,000+",23M,0,Everyone,"March 29, 2019",5.0 and up,7.6.0,NaN,NaN,NaN,NaN

In [8]:
data.shape

(267052, 15)

In [9]:
data.columns

Index(['App Name', 'Category', 'Rating', 'Reviews', 'Installs', 'Size',
       'Price', 'Content Rating', 'Last Updated', 'Minimum Version',
       'Latest Version', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14'],
      dtype='object')

In [10]:
data.drop(columns={'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13','Unnamed: 14'},inplace = True)  #removing the empty columns!

In [11]:
data.drop(columns= {'App Name'},inplace = True)   #removing the application name as name is not that much important in case of ratting.
data.head()

,Category,Rating,Reviews,Installs,Size,Price,Content Rating,Last Updated,Minimum Version,Latest Version
0,FOOD_AND_DRINK,4.548561573,305034,"5,000,000+",Varies with device,0,Everyone,"March 29, 2019",Varies with device,Varies with device
1,TRAVEL_AND_LOCAL,4.400671482,1.20792e+06,"100,000,000+",Varies with device,0,Everyone,"March 29, 2019",Varies with device,Varies with device
2,SHOPPING,3.656329393,1967,"100,000+",1.4M,0,Everyone,"September 20, 2018",5.0 and up,2.2.0
3,FOOD_AND_DRINK,4.107232571,389154,"10,000,000+",16M,0,Everyone,"March 22, 2019",4.2 and up,4.18.2
4,FOOD_AND_DRINK,4.647752285,2291,"10,000+",Varies with device,$5.99,Everyone,"April 1, 2019",Varies with device,Varies with device

In [12]:
data['Size'].value_counts().head()

Varies with device    11726
11M                    7312
12M                    6362
13M                    5569
14M                    5266
Name: Size, dtype: int64

In [13]:
list_of_values_in_size_column = []
list_of_values_in_size_column = data['Size'].values

In [14]:
# As all the values in the column size are string. We need to convert them to 
# integer data. So we will check the last element in all strings in the data and
# if they have "k" in their last place they are converted to an integer and if they
# have "m" in their last place so they are multiplied by 1024 to convert
# them to kilobyte and then convert them to integer .if not "k" and "m" they 
# are written as "0" which will be eliminated later.

In [15]:
len(list_of_values_in_size_column)

267052

In [16]:
corrected_list_of_values_in_size_column = []                       #Convertinv all the values to kilobyte or 0.   
for i in list_of_values_in_size_column:
    if(i[-1] == "k"):
        integer=i[:-1]
        integer = integer.replace(',','')
        corrected_list_of_values_in_size_column.append(float(integer))
    elif (i[-1] == "M"):
        integer=i[:-1]
        integer = integer.replace(',','')
        corrected_list_of_values_in_size_column.append(float(integer)*1024)
    else:
        corrected_list_of_values_in_size_column.append(0)          #bad data is converted to 0 which will be eleminated later.

In [17]:
# Adding the new filtered and modified data to our table and filtering all the removable data. 
data['size(Kb)'] = corrected_list_of_values_in_size_column
data = data[data['size(Kb)'] != 0]

In [18]:
# Removing the (mixed_type_data) size column 
data.drop(columns={'Size'},inplace=True)

In [19]:
data.head()

,Category,Rating,Reviews,Installs,Price,Content Rating,Last Updated,Minimum Version,Latest Version,size(Kb)
2,SHOPPING,3.656329393,1967,"100,000+",0,Everyone,"September 20, 2018",5.0 and up,2.2.0,1433.6
3,FOOD_AND_DRINK,4.107232571,389154,"10,000,000+",0,Everyone,"March 22, 2019",4.2 and up,4.18.2,16384.0
5,FOOD_AND_DRINK,3.82532239,2559,"100,000+",0,Everyone,"March 29, 2019",5.0 and up,7.6.0,23552.0
8,TRAVEL_AND_LOCAL,3.811764717,85,"10,000+",0,Everyone,"February 10, 2019",4.3 and up,2.4,4198.4
12,LIFESTYLE,3.213527918,754,"100,000+",0,Everyone,"March 27, 2019",5.0 and up,6.7,39936.0

In [20]:
# Removing the 'Latest Version' and 'Last Updated' column as Every application has their own way of upgrade scall
# hense we cannot use this data in compareson.
data.drop(columns={'Latest Version'},inplace = True)
data.drop(columns={'Last Updated'},inplace=True)

In [21]:
data.head(5)

,Category,Rating,Reviews,Installs,Price,Content Rating,Minimum Version,size(Kb)
2,SHOPPING,3.656329393,1967,"100,000+",0,Everyone,5.0 and up,1433.6
3,FOOD_AND_DRINK,4.107232571,389154,"10,000,000+",0,Everyone,4.2 and up,16384.0
5,FOOD_AND_DRINK,3.82532239,2559,"100,000+",0,Everyone,5.0 and up,23552.0
8,TRAVEL_AND_LOCAL,3.811764717,85,"10,000+",0,Everyone,4.3 and up,4198.4
12,LIFESTYLE,3.213527918,754,"100,000+",0,Everyone,5.0 and up,39936.0

In [22]:
data['Content Rating'].value_counts()

Everyone           231227
Teen                16436
Everyone 10+         4295
Mature 17+           3305
Unrated                33
Adults only 18+        12
Name: Content Rating, dtype: int64

In [23]:
# It  is clear from the above block that the data we are working with is 
# biased and we know that this biased data will hamper our prediction 
# hense we will be removing all the others except everyone row, resulting in
# removing the biases hense then we will remove the column as this will 
# possess only one type of data

In [24]:
data = data[data['Content Rating']=="Everyone"]
data.drop(columns={'Content Rating'},inplace = True)

data = data[data['Content Rating']=="Everyone"]
data.drop(columns={'Content Rating'},inplace = True)

In [25]:
data.head()

,Category,Rating,Reviews,Installs,Price,Minimum Version,size(Kb)
2,SHOPPING,3.656329393,1967,"100,000+",0,5.0 and up,1433.6
3,FOOD_AND_DRINK,4.107232571,389154,"10,000,000+",0,4.2 and up,16384.0
5,FOOD_AND_DRINK,3.82532239,2559,"100,000+",0,5.0 and up,23552.0
8,TRAVEL_AND_LOCAL,3.811764717,85,"10,000+",0,4.3 and up,4198.4
12,LIFESTYLE,3.213527918,754,"100,000+",0,5.0 and up,39936.0

In [26]:
# Making a list of all datas present in the MiniVertion column.
minimum_version_list = data['Minimum Version'].values

In [27]:
# As we can only use the numeric value in machine learning algorithms
# hense we will take the first letter in all the values in the column and convert to their integer form.

In [28]:
minimum_version_list_first_letter = []
for i in minimum_version_list:
    try:
        minimum_version_list_first_letter.append(int(i[0]))
    except:
        minimum_version_list_first_letter.append(0)

In [29]:
data.drop(columns={'Minimum Version'},inplace = True)

In [30]:
data['Minimum Version'] = minimum_version_list_first_letter

In [31]:
data = data[data['Minimum Version']!=0]

In [32]:
data.shape

(230770, 7)

In [33]:
data.head()

,Category,Rating,Reviews,Installs,Price,size(Kb),Minimum Version
2,SHOPPING,3.656329393,1967,"100,000+",0,1433.6,5
3,FOOD_AND_DRINK,4.107232571,389154,"10,000,000+",0,16384.0,4
5,FOOD_AND_DRINK,3.82532239,2559,"100,000+",0,23552.0,5
8,TRAVEL_AND_LOCAL,3.811764717,85,"10,000+",0,4198.4,4
12,LIFESTYLE,3.213527918,754,"100,000+",0,39936.0,5

In [34]:
data['Price'].value_counts().head()

0        221523
$0.99      1902
$1.99      1257
$2.99      1051
$1.49       667
Name: Price, dtype: int64

In [35]:
# It  is clear from the above block that the data we are working with is 
# biased and we know that this biased data will hamper our prediction 
# hense we will be removing all the others except "0" row, resulting in
# removing the biases hense then we will remove the column as this will 
# possess only one type of data

In [36]:
data = data[data['Price']=='0']
data.drop(columns={'Price'},inplace = True)

In [37]:
data.head()

,Category,Rating,Reviews,Installs,size(Kb),Minimum Version
2,SHOPPING,3.656329393,1967,"100,000+",1433.6,5
3,FOOD_AND_DRINK,4.107232571,389154,"10,000,000+",16384.0,4
5,FOOD_AND_DRINK,3.82532239,2559,"100,000+",23552.0,5
8,TRAVEL_AND_LOCAL,3.811764717,85,"10,000+",4198.4,4
12,LIFESTYLE,3.213527918,754,"100,000+",39936.0,5

In [38]:
data.shape

(221523, 6)

In [39]:
data['Installs'].value_counts()

10,000+           51808
1,000+            41759
100,000+          31004
5,000+            22603
50,000+           19291
100+              15003
500+              11628
1,000,000+         9300
500,000+           7760
10+                3517
50+                3048
5,000,000+         1874
10,000,000+        1665
5+                  548
1+                  351
50,000,000+         191
100,000,000+        114
0+                   47
500,000,000+         10
1,000,000,000+        2
Name: Installs, dtype: int64

In [40]:
# To convert the above data into usable form we need to remove the last plus(+) symbol and then remove all the comas(,)
# then convert the value in to its integer form.

In [41]:
install_values = data['Installs'].values
install_values_refined = []
for i in install_values:
    i = i.replace(',','')
    install_values_refined.append(int(i[:-1]))
data.drop(columns={'Installs'},inplace=True)
data['Installs'] = install_values_refined

In [42]:
data.head()

            Category       Rating Reviews  size(Kb)  Minimum Version  Installs
2           SHOPPING  3.656329393    1967    1433.6                5    100000
3     FOOD_AND_DRINK  4.107232571  389154   16384.0                4  10000000
5     FOOD_AND_DRINK   3.82532239    2559   23552.0                5    100000
8   TRAVEL_AND_LOCAL  3.811764717      85    4198.4                4     10000
12         LIFESTYLE  3.213527918     754   39936.0                5    100000

In [43]:
# Applications that are not installed by a minimum of 500 people are not so relevent
# application so those applications are removed.

data = data[data["Installs"] > 500]

In [44]:
data['Reviews'].value_counts().head()

6.0    1417
9.0    1361
8.0    1340
7.0    1330
5.0    1298
Name: Reviews, dtype: int64

In [ ]:
# Here all the data is present in strings so we need to convert them to equivalent integers.

In [ ]:
reviews_list = data['Reviews'].values
reviews_list_integer_values = []
for i in reviews_list:
    reviews_list_integer_values.append(int(i))

In [ ]:
data.drop(columns= {'Reviews'},inplace=True)
data['Reviews'] = reviews_list_integer_values

In [ ]:
data.head()

,Category,Rating,size(Kb),Minimum Version,Installs,Reviews
2,SHOPPING,3.656329393,1433.6,5,100000,1967
3,FOOD_AND_DRINK,4.107232571,16384.0,4,10000000,389154
5,FOOD_AND_DRINK,3.82532239,23552.0,5,100000,2559
8,TRAVEL_AND_LOCAL,3.811764717,4198.4,4,10000,85
12,LIFESTYLE,3.213527918,39936.0,5,100000,754

In [ ]:
# Applications that are not Reviewed by a minimum of 100 people are not so relevent
# application so those applications are removed.

data = data[data["Reviews"]>500]
data.shape

(56463, 6)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 56463 entries, 2 to 267032
Data columns (total 6 columns):
Category           56463 non-null object
Rating             56463 non-null object
size(Kb)           56463 non-null float64
Minimum Version    56463 non-null int64
Installs           56463 non-null int64
Reviews            56463 non-null int64
dtypes: float64(1), int64(3), object(2)
memory usage: 3.0+ MB

In [ ]:
data.head()

          Category       Rating  size(Kb)  Minimum Version  Installs  Reviews
2         SHOPPING  3.656329393    1433.6                5    100000     1967
3   FOOD_AND_DRINK  4.107232571   16384.0                4  10000000   389154
5   FOOD_AND_DRINK   3.82532239   23552.0                5    100000     2559
12       LIFESTYLE  3.213527918   39936.0                5    100000      754
16  FOOD_AND_DRINK  4.374690533   19456.0                5   5000000    52526

In [ ]:
# In rating column all the data is present in strings so we need to convert them to equivalent upto 4 digit
# after dacimal place float numbers.
# For that we will round them to 4th place ecimal numbers.
# We are taking anly 4 digit after decimal because it will make our calculation easy.

In [ ]:
ratings_list = data['Rating'].values
ratings_list1 = []
for i in ratings_list:
    ratings_list1.append(round(float(i),4))

In [ ]:
data.drop(columns={'Rating'},inplace=True)
data['Rating'] = ratings_list1

In [ ]:
data.head()

          Category  size(Kb)  Minimum Version  Installs  Reviews  Rating
2         SHOPPING    1433.6                5    100000     1967  3.6563
3   FOOD_AND_DRINK   16384.0                4  10000000   389154  4.1072
5   FOOD_AND_DRINK   23552.0                5    100000     2559  3.8253
12       LIFESTYLE   39936.0                5    100000      754  3.2135
16  FOOD_AND_DRINK   19456.0                5   5000000    52526  4.3747

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 56463 entries, 2 to 267032
Data columns (total 6 columns):
Category           56463 non-null object
size(Kb)           56463 non-null float64
Minimum Version    56463 non-null int64
Installs           56463 non-null int64
Reviews            56463 non-null int64
Rating             56463 non-null float64
dtypes: float64(2), int64(3), object(1)
memory usage: 3.0+ MB

In [ ]:
data['Category'].value_counts().head(10)

TOOLS                  5748
EDUCATION              5401
BOOKS_AND_REFERENCE    3774
ENTERTAINMENT          3729
FINANCE                3075
LIFESTYLE              3027
PERSONALIZATION        3018
MUSIC_AND_AUDIO        3008
PHOTOGRAPHY            2464
PRODUCTIVITY           1997
Name: Category, dtype: int64

In [ ]:
len(data['Category'].value_counts())

49

In [ ]:
# as this column is important we will be making 50 new columns and if the application is in the
# column's category then the entry will be "1" else it will be 0.

In [ ]:
category_index = data['Category'].value_counts().index

In [ ]:
long_category_array = []
for i in data['Category']:
    one_in_which_column = []
    for j in category_index:
        if i == j:
            one_in_which_column.append(1)
        else:
            one_in_which_column.append(0)
    long_category_array.append(one_in_which_column)

In [ ]:
# Transfering the array in to numpy array to be abel to merge with the Detabase.
long_category_array = np.array(long_category_array)

In [ ]:
for i in range(len(category_index)):
    data[category_index[i]] = long_category_array[:,i]

In [ ]:
data.head()

,Category,size(Kb),Minimum Version,Installs,Reviews,Rating,TOOLS,EDUCATION,BOOKS_AND_REFERENCE,ENTERTAINMENT,...,GAME_STRATEGY,PARENTING,HOUSE_AND_HOME,BEAUTY,LIBRARIES_AND_DEMO,GAME_MUSIC,COMICS,EVENTS,DATING,GAME_CASINO
2,SHOPPING,1433.6,5,100000,1967,3.6563,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,FOOD_AND_DRINK,16384.0,4,10000000,389154,4.1072,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,FOOD_AND_DRINK,23552.0,5,100000,2559,3.8253,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,LIFESTYLE,39936.0,5,100000,754,3.2135,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,FOOD_AND_DRINK,19456.0,5,5000000,52526,4.3747,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
data.drop(columns={"Category"},inplace=True)

In [ ]:
# Now we will be removing one column from the Category related columns because our machine learning
# algorithm will establish a relation between them which in turn will hamper our results.

In [ ]:
data.drop(columns={"EDUCATION"},inplace=True)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 56463 entries, 2 to 267032
Data columns (total 53 columns):
size(Kb)               56463 non-null float64
Minimum Version        56463 non-null int64
Installs               56463 non-null int64
Reviews                56463 non-null int64
Rating                 56463 non-null float64
TOOLS                  56463 non-null int32
BOOKS_AND_REFERENCE    56463 non-null int32
ENTERTAINMENT          56463 non-null int32
FINANCE                56463 non-null int32
LIFESTYLE              56463 non-null int32
PERSONALIZATION        56463 non-null int32
MUSIC_AND_AUDIO        56463 non-null int32
PHOTOGRAPHY            56463 non-null int32
PRODUCTIVITY           56463 non-null int32
HEALTH_AND_FITNESS     56463 non-null int32
TRAVEL_AND_LOCAL       56463 non-null int32
NEWS_AND_MAGAZINES     56463 non-null int32
SHOPPING               56463 non-null int32
GAME_PUZZLE            56463 non-null int32
BUSINESS               56463 non-null int32
SPORTS                 56463 non-null int32
COMMUNICATION          56463 non-null int32
MAPS_AND_NAVIGATION    56463 non-null int32
GAME_CASUAL            56463 non-null int32
VIDEO_PLAYERS          56463 non-null int32
GAME_SIMULATION        56463 non-null int32
GAME_ARCADE            56463 non-null int32
GAME_EDUCATIONAL       56463 non-null int32
WEATHER                56463 non-null int32
SOCIAL                 56463 non-null int32
MEDICAL                56463 non-null int32
GAME_WORD              56463 non-null int32
FOOD_AND_DRINK         56463 non-null int32
AUTO_AND_VEHICLES      56463 non-null int32
GAME_CARD              56463 non-null int32
GAME_RACING            56463 non-null int32
GAME_SPORTS            56463 non-null int32
GAME_BOARD             56463 non-null int32
ART_AND_DESIGN         56463 non-null int32
GAME_ACTION            56463 non-null int32
GAME_TRIVIA            56463 non-null int32
GAME_ADVENTURE         56463 non-null int32
GAME_ROLE_PLAYING      56463 non-null int32
GAME_STRATEGY          56463 non-null int32
PARENTING              56463 non-null int32
HOUSE_AND_HOME         56463 non-null int32
BEAUTY                 56463 non-null int32
LIBRARIES_AND_DEMO     56463 non-null int32
GAME_MUSIC             56463 non-null int32
COMICS                 56463 non-null int32
EVENTS                 56463 non-null int32
DATING                 56463 non-null int32
GAME_CASINO            56463 non-null int32
dtypes: float64(2), int32(48), int64(3)
memory usage: 12.9 MB

In [ ]:
data.shape

(56463, 53)

# NOW OUR DATABASE IS READY TO BE USED BY MACHINE LEARNING ALGORITHMS

In [ ]:
# As we are going to predict the value of rating of a given application we will now divide
# the data for training and then divide the data for train and test.

In [ ]:
data.head()

,size(Kb),Minimum Version,Installs,Reviews,Rating,TOOLS,BOOKS_AND_REFERENCE,ENTERTAINMENT,FINANCE,LIFESTYLE,...,GAME_STRATEGY,PARENTING,HOUSE_AND_HOME,BEAUTY,LIBRARIES_AND_DEMO,GAME_MUSIC,COMICS,EVENTS,DATING,GAME_CASINO
2,1433.6,5,100000,1967,3.6563,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,16384.0,4,10000000,389154,4.1072,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,23552.0,5,100000,2559,3.8253,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,39936.0,5,100000,754,3.2135,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
16,19456.0,5,5000000,52526,4.3747,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
data.shape

(56463, 53)

In [ ]:
y = data.iloc[:,4]

In [ ]:
# Now we will drop the Rating column and take the whole dataframe as x

In [ ]:
dataframe_for_x = data.drop(columns={"Rating"})

In [ ]:
x = dataframe_for_x.iloc[:,:]

In [ ]:
x.shape

(56463, 52)

In [ ]:
y.shape

(56463,)

In [ ]:
# Now we will devide the above data into train data and test data train_test_split function.

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state = 7)

In [ ]:
# Now we will be using this data into various Regression Algorithms.

# LinearRegression

In [ ]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()

In [ ]:
regressor.fit(x_train,y_train)

In [ ]:
y_pred = regressor.predict(x_test)

In [ ]:
from  sklearn.metrics import r2_score

In [ ]:
r2_score(y_test,y_pred)

# LinearRegression with whole number Rating

In [ ]:
y_whole = round(y)

In [ ]:
x_whole_train,x_whole_test,y_whole_train,y_whole_test = train_test_split(x,y_whole,test_size=0.2,random_state = 7)

In [ ]:
regressor.fit(x_whole_train,y_whole_train)

In [ ]:
y_whole_LR_pred = regressor.predict(x_whole_test)

In [ ]:
r2_score(y_whole_test,y_whole_LR_pred)

# RandomForestRegressor

In [ ]:
from sklearn.ensemble import RandomForestRegressor
regressor1=RandomForestRegressor(n_estimators=100,max_features=3,min_samples_leaf=10)

In [ ]:
regressor1.fit(x_train,y_train)

In [ ]:
y_RFR_pred=regressor1.predict(x_test)

In [ ]:
r2_score(y_test,y_RFR_pred)

# RandomForestRegressor with whole number Rating

In [ ]:
regressor1.fit(x_whole_train,y_whole_train)

In [ ]:
y_RFR_whole_pred=regressor1.predict(x_whole_test)

In [ ]:
r2_score(y_test,y_RFR_whole_pred)

# DecisionTreeRegressor

In [ ]:
from sklearn.tree import DecisionTreeRegressor
regressor2=DecisionTreeRegressor()

In [ ]:
regressor2.fit(x_train,y_train)

In [ ]:
y_DTR_pred=regressor2.predict(x_test)

In [ ]:
r2_score(y_test,y_DTR_pred)

# DecisionTreeClassifier

In [ ]:
# Here we are using Classification because if we can convert the rating into the
# whole number then we can classify the applications in 5 categories as 1*,2*,3*,4*,5*.
# usine this idea we will be using DecisionTreeClassifier algorithm.

In [ ]:
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier()
classifier.fit(x_whole_train,y_whole_train)

In [ ]:
y_dtc_pred = classifier.predict(x_whole_test)

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(y_whole_test,y_dtc_pred)

In [ ]:
from datetime import date
from datetime import time
from datetime import datetime

print(datetime.now())