In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("Google-Playstore-Full.csv")
data.head()

C:\Users\Shakib\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (2,3,11,12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,App Name,Category,Rating,Reviews,Installs,Size,Price,Content Rating,Last Updated,Minimum Version,Latest Version,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,DoorDash - Food Delivery,FOOD_AND_DRINK,4.548561573,305034,"5,000,000+",Varies with device,0,Everyone,"March 29, 2019",Varies with device,Varies with device,NaN,NaN,NaN,NaN
1,TripAdvisor Hotels Flights Restaurants Attract...,TRAVEL_AND_LOCAL,4.400671482,1.20792e+06,"100,000,000+",Varies with device,0,Everyone,"March 29, 2019",Varies with device,Varies with device,NaN,NaN,NaN,NaN
2,Peapod,SHOPPING,3.656329393,1967,"100,000+",1.4M,0,Everyone,"September 20, 2018",5.0 and up,2.2.0,NaN,NaN,NaN,NaN
3,foodpanda - Local Food Delivery,FOOD_AND_DRINK,4.107232571,389154,"10,000,000+",16M,0,Everyone,"March 22, 2019",4.2 and up,4.18.2,NaN,NaN,NaN,NaN
4,My CookBook Pro (Ad Free),FOOD_AND_DRINK,4.647752285,2291,"10,000+",Varies with device,$5.99,Everyone,"April 1, 2019",Varies with device,Varies with device,NaN,NaN,NaN,NaN

In [3]:
data.shape

(267052, 15)

In [4]:
data.columns

Index(['App Name', 'Category', 'Rating', 'Reviews', 'Installs', 'Size',
       'Price', 'Content Rating', 'Last Updated', 'Minimum Version',
       'Latest Version', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14'],
      dtype='object')

In [5]:
data.drop(columns={'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13','Unnamed: 14'},inplace = True)  #removing the empty columns!

In [6]:
data.drop(columns= {'App Name'},inplace = True)   #removing the application name as name is not that much important in case of ratting.
data.head()

,Category,Rating,Reviews,Installs,Size,Price,Content Rating,Last Updated,Minimum Version,Latest Version
0,FOOD_AND_DRINK,4.548561573,305034,"5,000,000+",Varies with device,0,Everyone,"March 29, 2019",Varies with device,Varies with device
1,TRAVEL_AND_LOCAL,4.400671482,1.20792e+06,"100,000,000+",Varies with device,0,Everyone,"March 29, 2019",Varies with device,Varies with device
2,SHOPPING,3.656329393,1967,"100,000+",1.4M,0,Everyone,"September 20, 2018",5.0 and up,2.2.0
3,FOOD_AND_DRINK,4.107232571,389154,"10,000,000+",16M,0,Everyone,"March 22, 2019",4.2 and up,4.18.2
4,FOOD_AND_DRINK,4.647752285,2291,"10,000+",Varies with device,$5.99,Everyone,"April 1, 2019",Varies with device,Varies with device

In [7]:
data['Size'].value_counts()

Varies with device    11726
11M                    7312
12M                    6362
13M                    5569
14M                    5266
15M                    5157
16M                    4531
10M                    4031
17M                    3770
18M                    3647
19M                    3585
20M                    3256
21M                    2971
23M                    2759
22M                    2734
24M                    2706
25M                    2649
3.8M                   2619
3.4M                   2608
3.3M                   2603
3.6M                   2575
3.2M                   2574
3.7M                   2541
3.5M                   2488
3.9M                   2464
2.9M                   2416
3.1M                   2395
4.0M                   2374
26M                    2368
2.8M                   2352
                      ...
758k                      1
6.3k                      1
4.705075264               1
650k                      1
715k                      1
6.1k                      1
801k                      1
268k                      1
9.3k                      1
126M                      1
635k                      1
7.7k                      1
145M                      1
123M                      1
114M                      1
50,000+                   1
119M                      1
3.1k                      1
155M                      1
510k                      1
8.4k                      1
MUSIC_AND_AUDIO           1
691k                      1
5.8k                      1
583k                      1
711k                      1
17                        1
9.9k                      1
705k                      1
264k                      1
Name: Size, Length: 1248, dtype: int64

In [8]:
list_of_values_in_size_column = []
list_of_values_in_size_column = data['Size'].values

In [9]:
# As all the values in the column size are string. We need to convert them to 
# integer data. So we will check the last element in all strings in the data and
# if they have "k" in their last place they are converted to an integer and if they
# have "m" in their last place so they are multiplied by 1024 to convert
# them to kilobyte and then convert them to integer .if not "k" and "m" they 
# are written as "0" which will be eliminated later.

In [10]:
len(list_of_values_in_size_column)

267052

In [11]:
corrected_list_of_values_in_size_column = []                       #Convertinv all the values to kilobyte or 0.   
for i in list_of_values_in_size_column:
    if(i[-1] == "k"):
        integer=i[:-1]
        integer = integer.replace(',','')
        corrected_list_of_values_in_size_column.append(float(integer))
    elif (i[-1] == "M"):
        integer=i[:-1]
        integer = integer.replace(',','')
        corrected_list_of_values_in_size_column.append(float(integer)*1024)
    else:
        corrected_list_of_values_in_size_column.append(0)          #bad data is converted to 0 which will be eleminated later.

In [12]:
# Adding the new filtered and modified data to our table and filtering all the removable data. 
data['size(Kb)'] = corrected_list_of_values_in_size_column
data = data[data['size(Kb)'] != 0]

In [13]:
# Removing the (mixed_type_data) size column 
data.drop(columns={'Size'},inplace=True)

In [14]:
data.head()

,Category,Rating,Reviews,Installs,Price,Content Rating,Last Updated,Minimum Version,Latest Version,size(Kb)
2,SHOPPING,3.656329393,1967,"100,000+",0,Everyone,"September 20, 2018",5.0 and up,2.2.0,1433.6
3,FOOD_AND_DRINK,4.107232571,389154,"10,000,000+",0,Everyone,"March 22, 2019",4.2 and up,4.18.2,16384.0
5,FOOD_AND_DRINK,3.82532239,2559,"100,000+",0,Everyone,"March 29, 2019",5.0 and up,7.6.0,23552.0
8,TRAVEL_AND_LOCAL,3.811764717,85,"10,000+",0,Everyone,"February 10, 2019",4.3 and up,2.4,4198.4
12,LIFESTYLE,3.213527918,754,"100,000+",0,Everyone,"March 27, 2019",5.0 and up,6.7,39936.0

In [15]:
# Removing the 'Latest Version' and 'Last Updated' column as Every application has their own way of upgrade scall
# hense we cannot use this data in compareson.
data.drop(columns={'Latest Version'},inplace = True)
data.drop(columns={'Last Updated'},inplace=True)

In [16]:
data.head(5)

,Category,Rating,Reviews,Installs,Price,Content Rating,Minimum Version,size(Kb)
2,SHOPPING,3.656329393,1967,"100,000+",0,Everyone,5.0 and up,1433.6
3,FOOD_AND_DRINK,4.107232571,389154,"10,000,000+",0,Everyone,4.2 and up,16384.0
5,FOOD_AND_DRINK,3.82532239,2559,"100,000+",0,Everyone,5.0 and up,23552.0
8,TRAVEL_AND_LOCAL,3.811764717,85,"10,000+",0,Everyone,4.3 and up,4198.4
12,LIFESTYLE,3.213527918,754,"100,000+",0,Everyone,5.0 and up,39936.0

In [17]:
data['Content Rating'].value_counts()

Everyone           231227
Teen                16436
Everyone 10+         4295
Mature 17+           3305
Unrated                33
Adults only 18+        12
Name: Content Rating, dtype: int64

In [18]:
# It  is clear from the above block that the data we are working with is 
# biased and we know that this biased data will hamper our prediction 
# hense we will be removing all the others except everyone row, resulting in
# removing the biases hense then we will remove the column as this will 
# possess only one type of data

In [19]:
data = data[data['Content Rating']=="Everyone"]
data.drop(columns={'Content Rating'},inplace = True)

data = data[data['Content Rating']=="Everyone"]
data.drop(columns={'Content Rating'},inplace = True)

In [20]:
data.head()

,Category,Rating,Reviews,Installs,Price,Minimum Version,size(Kb)
2,SHOPPING,3.656329393,1967,"100,000+",0,5.0 and up,1433.6
3,FOOD_AND_DRINK,4.107232571,389154,"10,000,000+",0,4.2 and up,16384.0
5,FOOD_AND_DRINK,3.82532239,2559,"100,000+",0,5.0 and up,23552.0
8,TRAVEL_AND_LOCAL,3.811764717,85,"10,000+",0,4.3 and up,4198.4
12,LIFESTYLE,3.213527918,754,"100,000+",0,5.0 and up,39936.0

In [21]:
# Making a list of all datas present in the MiniVertion column.
minimum_version_list = data['Minimum Version'].values

In [22]:
# As we can only use the numeric value in machine learning algorithms
# hense we will take the first letter in all the values in the column and convert to their integer form.

In [23]:
minimum_version_list_first_letter = []
for i in minimum_version_list:
    try:
        minimum_version_list_first_letter.append(int(i[0]))
    except:
        minimum_version_list_first_letter.append(0)

In [24]:
data.drop(columns={'Minimum Version'},inplace = True)

In [25]:
data['Minimum Version'] = minimum_version_list_first_letter

In [26]:
data = data[data['Minimum Version']!=0]

In [27]:
data.shape

(230770, 7)

In [28]:
data.head()

,Category,Rating,Reviews,Installs,Price,size(Kb),Minimum Version
2,SHOPPING,3.656329393,1967,"100,000+",0,1433.6,5
3,FOOD_AND_DRINK,4.107232571,389154,"10,000,000+",0,16384.0,4
5,FOOD_AND_DRINK,3.82532239,2559,"100,000+",0,23552.0,5
8,TRAVEL_AND_LOCAL,3.811764717,85,"10,000+",0,4198.4,4
12,LIFESTYLE,3.213527918,754,"100,000+",0,39936.0,5

In [29]:
data['Price'].value_counts().head()

0        221523
$0.99      1902
$1.99      1257
$2.99      1051
$1.49       667
Name: Price, dtype: int64

In [30]:
# It  is clear from the above block that the data we are working with is 
# biased and we know that this biased data will hamper our prediction 
# hense we will be removing all the others except "0" row, resulting in
# removing the biases hense then we will remove the column as this will 
# possess only one type of data

In [31]:
data = data[data['Price']=='0']
data.drop(columns={'Price'},inplace = True)

In [32]:
data.head()

,Category,Rating,Reviews,Installs,size(Kb),Minimum Version
2,SHOPPING,3.656329393,1967,"100,000+",1433.6,5
3,FOOD_AND_DRINK,4.107232571,389154,"10,000,000+",16384.0,4
5,FOOD_AND_DRINK,3.82532239,2559,"100,000+",23552.0,5
8,TRAVEL_AND_LOCAL,3.811764717,85,"10,000+",4198.4,4
12,LIFESTYLE,3.213527918,754,"100,000+",39936.0,5

In [33]:
data.shape

(221523, 6)

In [34]:
data['Installs'].value_counts()

10,000+           51808
1,000+            41759
100,000+          31004
5,000+            22603
50,000+           19291
100+              15003
500+              11628
1,000,000+         9300
500,000+           7760
10+                3517
50+                3048
5,000,000+         1874
10,000,000+        1665
5+                  548
1+                  351
50,000,000+         191
100,000,000+        114
0+                   47
500,000,000+         10
1,000,000,000+        2
Name: Installs, dtype: int64

In [35]:
# To convert the above data into usable form we need to remove the last plus(+) symbol and then remove all the comas(,)
# then convert the value in to its integer form.

In [36]:
install_values = data['Installs'].values
install_values_refined = []
for i in install_values:
    i = i.replace(',','')
    install_values_refined.append(int(i[:-1]))
data.drop(columns={'Installs'},inplace=True)
data['Installs'] = install_values_refined

In [37]:
data.head()

            Category       Rating Reviews  size(Kb)  Minimum Version  Installs
2           SHOPPING  3.656329393    1967    1433.6                5    100000
3     FOOD_AND_DRINK  4.107232571  389154   16384.0                4  10000000
5     FOOD_AND_DRINK   3.82532239    2559   23552.0                5    100000
8   TRAVEL_AND_LOCAL  3.811764717      85    4198.4                4     10000
12         LIFESTYLE  3.213527918     754   39936.0                5    100000

In [38]:
data['Reviews'].value_counts().head()

1.0    5222
2.0    4366
3.0    3813
4.0    3268
5.0    2910
Name: Reviews, dtype: int64

In [39]:
# Here all the data is present in strings so we need to convert them to equivalent integers.

In [40]:
reviews_list = data['Reviews'].values
reviews_list_integer_values = []
for i in reviews_list:
    reviews_list_integer_values.append(int(i))

In [41]:
data.drop(columns= {'Reviews'},inplace=True)
data['Reviews'] = reviews_list_integer_values

In [42]:
data.head()

,Category,Rating,size(Kb),Minimum Version,Installs,Reviews
2,SHOPPING,3.656329393,1433.6,5,100000,1967
3,FOOD_AND_DRINK,4.107232571,16384.0,4,10000000,389154
5,FOOD_AND_DRINK,3.82532239,23552.0,5,100000,2559
8,TRAVEL_AND_LOCAL,3.811764717,4198.4,4,10000,85
12,LIFESTYLE,3.213527918,39936.0,5,100000,754

In [43]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 221523 entries, 2 to 267051
Data columns (total 6 columns):
Category           221523 non-null object
Rating             221523 non-null object
size(Kb)           221523 non-null float64
Minimum Version    221523 non-null int64
Installs           221523 non-null int64
Reviews            221523 non-null int64
dtypes: float64(1), int64(3), object(2)
memory usage: 11.8+ MB

In [44]:
data.head()

,Category,Rating,size(Kb),Minimum Version,Installs,Reviews
2,SHOPPING,3.656329393,1433.6,5,100000,1967
3,FOOD_AND_DRINK,4.107232571,16384.0,4,10000000,389154
5,FOOD_AND_DRINK,3.82532239,23552.0,5,100000,2559
8,TRAVEL_AND_LOCAL,3.811764717,4198.4,4,10000,85
12,LIFESTYLE,3.213527918,39936.0,5,100000,754

In [45]:
# In rating column all the data is present in strings so we need to convert them to equivalent upto 4 digit
# after dacimal place float numbers.
# For that we will round them to 4th place ecimal numbers.
# We are taking anly 4 digit after decimal because it will make our calculation easy.

In [46]:
ratings_list = data['Rating'].values
ratings_list1 = []
for i in ratings_list:
    ratings_list1.append(round(float(i),4))

In [47]:
data.drop(columns={'Rating'},inplace=True)
data['Rating'] = ratings_list1

In [48]:
data.head()

            Category  size(Kb)  Minimum Version  Installs  Reviews  Rating
2           SHOPPING    1433.6                5    100000     1967  3.6563
3     FOOD_AND_DRINK   16384.0                4  10000000   389154  4.1072
5     FOOD_AND_DRINK   23552.0                5    100000     2559  3.8253
8   TRAVEL_AND_LOCAL    4198.4                4     10000       85  3.8118
12         LIFESTYLE   39936.0                5    100000      754  3.2135

In [49]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 221523 entries, 2 to 267051
Data columns (total 6 columns):
Category           221523 non-null object
size(Kb)           221523 non-null float64
Minimum Version    221523 non-null int64
Installs           221523 non-null int64
Reviews            221523 non-null int64
Rating             221523 non-null float64
dtypes: float64(2), int64(3), object(1)
memory usage: 11.8+ MB

In [50]:
data['Category'].value_counts()

EDUCATION              29988
TOOLS                  19041
BOOKS_AND_REFERENCE    18789
ENTERTAINMENT          16332
MUSIC_AND_AUDIO        14971
LIFESTYLE              12859
FINANCE                 9489
BUSINESS                9237
PERSONALIZATION         8322
PRODUCTIVITY            7966
HEALTH_AND_FITNESS      6352
PHOTOGRAPHY             6259
NEWS_AND_MAGAZINES      6124
TRAVEL_AND_LOCAL        5910
SHOPPING                4782
SPORTS                  4617
COMMUNICATION           4269
MAPS_AND_NAVIGATION     3639
MEDICAL                 3045
GAME_PUZZLE             2842
FOOD_AND_DRINK          2800
VIDEO_PLAYERS           2192
SOCIAL                  1867
AUTO_AND_VEHICLES       1843
GAME_CASUAL             1816
GAME_ARCADE             1615
GAME_EDUCATIONAL        1600
ART_AND_DESIGN          1568
WEATHER                 1370
GAME_SIMULATION          947
BEAUTY                   849
HOUSE_AND_HOME           841
GAME_WORD                789
GAME_BOARD               628
GAME_TRIVIA              625
GAME_CARD                613
LIBRARIES_AND_DEMO       574
GAME_SPORTS              550
EVENTS                   541
GAME_RACING              540
PARENTING                536
GAME_ACTION              524
GAME_ADVENTURE           426
COMICS                   264
GAME_STRATEGY            261
GAME_ROLE_PLAYING        237
GAME_MUSIC               192
DATING                    65
GAME_CASINO               16
TRAVEL                     1
Name: Category, dtype: int64

In [51]:
len(data['Category'].value_counts())

50

In [52]:
# as this column is important we will be making 50 new columns and if the application is in the
# column's category then the entry will be "1" else it will be 0.

In [53]:
category_index = data['Category'].value_counts().index

In [54]:
long_category_array = []
for i in data['Category']:
    one_in_which_column = []
    for j in category_index:
        if i == j:
            one_in_which_column.append(1)
        else:
            one_in_which_column.append(0)
    long_category_array.append(one_in_which_column)

In [55]:
# Transfering the array in to numpy array to be abel to merge with the Detabase.
long_category_array = np.array(long_category_array)

In [56]:
for i in range(len(category_index)):
    data[category_index[i]] = long_category_array[:,i]

In [57]:
data.head()

,Category,size(Kb),Minimum Version,Installs,Reviews,Rating,EDUCATION,TOOLS,BOOKS_AND_REFERENCE,ENTERTAINMENT,...,PARENTING,GAME_ACTION,GAME_ADVENTURE,COMICS,GAME_STRATEGY,GAME_ROLE_PLAYING,GAME_MUSIC,DATING,GAME_CASINO,TRAVEL
2,SHOPPING,1433.6,5,100000,1967,3.6563,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,FOOD_AND_DRINK,16384.0,4,10000000,389154,4.1072,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,FOOD_AND_DRINK,23552.0,5,100000,2559,3.8253,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,TRAVEL_AND_LOCAL,4198.4,4,10000,85,3.8118,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,LIFESTYLE,39936.0,5,100000,754,3.2135,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [58]:
data.drop(columns={"Category"},inplace=True)

In [59]:
# Now we will be removing one column from the Category related columns because our machine learning
# algorithm will establish a relation between them which in turn will hamper our results.

In [60]:
data.drop(columns={"EDUCATION"},inplace=True)

In [61]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 221523 entries, 2 to 267051
Data columns (total 54 columns):
size(Kb)               221523 non-null float64
Minimum Version        221523 non-null int64
Installs               221523 non-null int64
Reviews                221523 non-null int64
Rating                 221523 non-null float64
TOOLS                  221523 non-null int32
BOOKS_AND_REFERENCE    221523 non-null int32
ENTERTAINMENT          221523 non-null int32
MUSIC_AND_AUDIO        221523 non-null int32
LIFESTYLE              221523 non-null int32
FINANCE                221523 non-null int32
BUSINESS               221523 non-null int32
PERSONALIZATION        221523 non-null int32
PRODUCTIVITY           221523 non-null int32
HEALTH_AND_FITNESS     221523 non-null int32
PHOTOGRAPHY            221523 non-null int32
NEWS_AND_MAGAZINES     221523 non-null int32
TRAVEL_AND_LOCAL       221523 non-null int32
SHOPPING               221523 non-null int32
SPORTS                 221523 non-null int32
COMMUNICATION          221523 non-null int32
MAPS_AND_NAVIGATION    221523 non-null int32
MEDICAL                221523 non-null int32
GAME_PUZZLE            221523 non-null int32
FOOD_AND_DRINK         221523 non-null int32
VIDEO_PLAYERS          221523 non-null int32
SOCIAL                 221523 non-null int32
AUTO_AND_VEHICLES      221523 non-null int32
GAME_CASUAL            221523 non-null int32
GAME_ARCADE            221523 non-null int32
GAME_EDUCATIONAL       221523 non-null int32
ART_AND_DESIGN         221523 non-null int32
WEATHER                221523 non-null int32
GAME_SIMULATION        221523 non-null int32
BEAUTY                 221523 non-null int32
HOUSE_AND_HOME         221523 non-null int32
GAME_WORD              221523 non-null int32
GAME_BOARD             221523 non-null int32
GAME_TRIVIA            221523 non-null int32
GAME_CARD              221523 non-null int32
LIBRARIES_AND_DEMO     221523 non-null int32
GAME_SPORTS            221523 non-null int32
EVENTS                 221523 non-null int32
GAME_RACING            221523 non-null int32
PARENTING              221523 non-null int32
GAME_ACTION            221523 non-null int32
GAME_ADVENTURE         221523 non-null int32
COMICS                 221523 non-null int32
GAME_STRATEGY          221523 non-null int32
GAME_ROLE_PLAYING      221523 non-null int32
GAME_MUSIC             221523 non-null int32
DATING                 221523 non-null int32
GAME_CASINO            221523 non-null int32
TRAVEL                 221523 non-null int32
dtypes: float64(2), int32(49), int64(3)
memory usage: 51.5 MB

In [62]:
data.shape

(221523, 54)

# NOW OUR DATABASE IS READY TO BE USED BY MACHINE LEARNING ALGORITHMS

In [63]:
# As we are going to predict the value of rating of a given application we will now divide
# the data for training and then divide the data for train and test.

In [64]:
data.head()

,size(Kb),Minimum Version,Installs,Reviews,Rating,TOOLS,BOOKS_AND_REFERENCE,ENTERTAINMENT,MUSIC_AND_AUDIO,LIFESTYLE,...,PARENTING,GAME_ACTION,GAME_ADVENTURE,COMICS,GAME_STRATEGY,GAME_ROLE_PLAYING,GAME_MUSIC,DATING,GAME_CASINO,TRAVEL
2,1433.6,5,100000,1967,3.6563,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,16384.0,4,10000000,389154,4.1072,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,23552.0,5,100000,2559,3.8253,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,4198.4,4,10000,85,3.8118,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,39936.0,5,100000,754,3.2135,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [65]:
y = data.iloc[:,4]

In [66]:
# Now we will drop the Rating column and take the whole dataframe as x

In [67]:
dataframe_for_x = data.drop(columns={"Rating"})

In [68]:
x = dataframe_for_x.iloc[:,:]

In [69]:
x.shape

(221523, 53)

In [70]:
y.shape

(221523,)

In [71]:
# Now we will devide the above data into train data and test data train_test_split function.

In [72]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state = 7)

In [73]:
# Now we will be using this data into various Regression Algorithms.

# LinearRegression

In [74]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()

In [75]:
regressor.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [76]:
y_pred = regressor.predict(x_test)

In [77]:
from  sklearn.metrics import r2_score

In [78]:
r2_score(y_test,y_pred)

0.04911586115643285

# LinearRegression with whole number Rating

In [79]:
y_whole = round(y)

In [80]:
x_whole_train,x_whole_test,y_whole_train,y_whole_test = train_test_split(x,y_whole,test_size=0.2,random_state = 7)

In [81]:
regressor.fit(x_whole_train,y_whole_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [82]:
y_whole_LR_pred = regressor.predict(x_whole_test)

In [83]:
r2_score(y_whole_test,y_whole_LR_pred)

0.051792309403840164

# RandomForestRegressor

In [84]:
from sklearn.ensemble import RandomForestRegressor
regressor1=RandomForestRegressor(n_estimators=100,max_features=3,min_samples_leaf=10)

In [85]:
regressor1.fit(x_train,y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features=3, max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=10,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           n_estimators=100, n_jobs=None, oob_score=False,
           random_state=None, verbose=0, warm_start=False)

In [86]:
y_RFR_pred=regressor1.predict(x_test)

In [87]:
r2_score(y_test,y_RFR_pred)

0.11932959669094956

# RandomForestRegressor with whole number Rating

In [88]:
regressor1.fit(x_whole_train,y_whole_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features=3, max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=10,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           n_estimators=100, n_jobs=None, oob_score=False,
           random_state=None, verbose=0, warm_start=False)

In [89]:
y_RFR_whole_pred=regressor1.predict(x_whole_test)

In [90]:
r2_score(y_test,y_RFR_whole_pred)

0.12076460286052759

# DecisionTreeRegressor

In [91]:
from sklearn.tree import DecisionTreeRegressor
regressor2=DecisionTreeRegressor()

In [92]:
regressor2.fit(x_train,y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [93]:
y_DTR_pred=regressor2.predict(x_test)

In [94]:
r2_score(y_test,y_DTR_pred)

-0.6956824378307034

# DecisionTreeClassifier

In [95]:
# Here we are using Classification because if we can convert the rating into the
# whole number then we can classify the applications in 5 categories as 1*,2*,3*,4*,5*.
# usine this idea we will be using DecisionTreeClassifier algorithm.

In [96]:
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier()
classifier.fit(x_whole_train,y_whole_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [97]:
y_dtc_pred = classifier.predict(x_whole_test)

In [98]:
from sklearn.metrics import accuracy_score
accuracy_score(y_whole_test,y_dtc_pred)

0.5117706805101004